/* Stili di base per il collage */
.collage-container {
    max-width: 1400px; /* Larghezza massima per desktop */
    margin: 0 auto; /* Centra il container orizzontalmente */
    padding: 20px; /* Spazio intorno al contenuto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto orizzontalmente */
}

.image-box img {
    width: 100%; /* Ridimensiona l'immagine alla larghezza del contenitore */
    height: auto;
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza massima del contenitore */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Ottimizzazione per dispositivi mobili */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr; /* Un prodotto per riga */
    }
}
